@inject TestMVCpro.BLL.InterFace.IDepartmentRep Department
@inject TestMVCpro.BLL.InterFace.IEmployeeRep Employee
@{
    ViewBag.Title = "EMPandDEPT";
}
@section bootostarbsection
    {
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
}
<table class="table table-striped table-bordered table-hover text-center font-weight-bold">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Salary</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Employee.Get())
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Salary</td>
            </tr>
        }
    </tbody>
</table>
<select>
    <option>Chose Department</option>
    @foreach (var item in Department.Get())
    {
        <option value="@item.ID">@item.Name</option>
    }
</select>
